<div class="col-lg-6 mb-3 mb-lg-0">
    <div class="card">
        <div class="card-header"><b>DNS</b></div>
        <div class="card-body">
            <b>A</b>
            <div class="container">
                <?php 
                    if ($mainDomain->dnsZoneExist()) {
                        echo '<div class="row py-2 border-bottom bg-success-subtle">
                                <div class="col">'.$mainDomain->getDomainName().'</div>
                                <div class="col">'.$mainDomain->getDNSZone()->getARecord()['ip'].'</div>
                                <div class="col">'.$mainDomain->getDNSZone()->getARecord()['reverse'].'</div>
                              </div>';
                    } else {
                        echo '<div class="row py-2 border-bottom bg-danger-subtle">
                                <div class="col">'.$mainDomain->getDomainName().'</div>
                                <div class="col">Not found</div>
                              </div>';
                    }

                    if ($subDomain->dnsZoneExist()) {
                        echo '<div class="row py-2 border-bottom bg-success-subtle">
                                <div class="col">'.$subDomain->getDomainName().'</div>
                                <div class="col">'.$subDomain->getDNSZone()->getARecord()['ip'].'</div>
                                <div class="col">'.$subDomain->getDNSZone()->getARecord()['reverse'].'</div>
                              </div>';
                    } else {
                        echo '<div class="row py-2 border-bottom bg-danger-subtle">
                                <div class="col">'.$subDomain->getDomainName().'</div>
                                <div class="col">Not found</div>
                              </div>';
                    }

                ?>
            </div>
            <hr>
            <b>NS</b>
            <div class="d-flex gap-2 px-3">
                <?php 
                    if ($mainDomain->getDNSZone()->countNSRecords() > 0) {
                        foreach ($mainDomain->getDNSZone()->getNSRecords() as $key => $nsRecord) {
                            echo "<p>".$nsRecord['host']."</p>";
                        }
                    } else {
                        echo "Nameservers not found";
                    }
                ?>
            </div>
        </div>
    </div>
</div>