<div class="col-lg-6 mb-3 mb-lg-0">
    <div class="card">
        <div class="card-header"><b>DNS</b></div>
        <div class="card-body">
            <b>A</b>
            <div class="container">
                <?php 
                 if ($this->vars->main_domain->getDns()
                 && $this->vars->main_domain->getDns()->A) {
                        echo '<div class="row py-2 border-bottom bg-success-subtle">
                            <div class="col">'.$this->vars->main_domain->getDomainName().'</div>
                            <div class="col">'.$this->vars->main_domain->getDns()->A[0]->getValue().'</div>
                            <div class="col">'.$this->vars->main_domain->getDns()->A[0]->getReverseAddr().'</div>
                            </div>';
                    } else {
                        if ($this->vars->main_domain->getLastErrorMessage()) {
                            echo '<div class="row py-2 border-bottom bg-danger-subtle">
                                    <div class="col">'. $this->vars->main_domain->getLastErrorMessage() .'</div>
                                  </div>';
                        } else {
                            echo '<div class="row py-2 border-bottom bg-danger-subtle">
                                    <div class="col">'.$this->vars->main_domain->getDomainName().'</div>
                                    <div class="col">Record not found</div>
                                  </div>';
                        }
                    }

                    if ($this->vars->sub_domain->getDns()
                    && $this->vars->sub_domain->getDns()->A) {
                        echo '<div class="row py-2 border-bottom bg-success-subtle">
                                <div class="col">'.$this->vars->sub_domain->getDomainName().'</div>
                                <div class="col">'.$this->vars->sub_domain->getDns()->A[0]->getValue().'</div>
                                <div class="col">'.$this->vars->sub_domain->getDns()->A[0]->getReverseAddr().'</div>
                              </div>';
                    } else {
                        if ($this->vars->sub_domain->getLastErrorMessage()) {
                            echo '<div class="row py-2 border-bottom bg-danger-subtle">
                                    <div class="col">'. $this->vars->sub_domain->getLastErrorMessage() .'</div>
                                  </div>';
                        } else {
                            echo '<div class="row py-2 border-bottom bg-danger-subtle">
                                    <div class="col">'.$this->vars->sub_domain->getDomainName().'</div>
                                    <div class="col">Record not found</div>
                                  </div>';
                        }
                    }

                ?>
            </div>
            <?php 
                  if ($this->vars->dns['txt_count'] > 0) {
                    // echo '<hr>';
                    echo '<div class="accordion mt-3" id="accordionTXT">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRecords">';
                                        if ($this->vars->has_txt) {
                                            echo '<h6>TXT Records ('.$this->vars->dns['txt_count'].') <span class="badge bg-success">Validation TXT Found!</span></h6>';
                                        } else {
                                            echo '<h6>TXT Records ('.$this->vars->dns['txt_count'].')</h6>';
                                        }
                    echo           '</button>
                                </h2>
                                <div id="collapseRecords" class="accordion-collapse collapse" data-bs-parrent="#accordionTXT">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">';
                                            foreach ($this->vars->main_domain->getDns()->TXT as $key => $txtRecord) {
                                                if (strcmp($txtRecord->getValue(), $this->vars->txt_lookup) === 0) {
                                                    echo '<li class="list-group-item list-group-item-primary">'.$txtRecord->getValue().'</li>';
                                                } else {
                                                    echo '<li class="list-group-item">'.$txtRecord->getValue().'</li>';
                                                }
                                            }
                    echo               '</ul>
                                    </div>
                                </div>
                            </div>
                          </div>';
                }
            ?>
            <hr>
            <b>NS</b>
            <div class="d-flex gap-2 px-3 flex-wrap">
                <?php 
                     if ($this->vars->dns["ns_count"] > 0) {
                         foreach ($this->vars->active_domain->getDns()->NS as $key => $nsRecord) {
                             echo "<p>".$nsRecord->getValue()."</p>";
                         }
                    } else {
                        echo "Nameservers not found";
                    }
                ?>
            </div>
        </div>
    </div>
</div>
