<form action="" method="GET">
    <div class="row">
        <div class="col">
            <label for="lookup" class="form-label lead">Type domain name you want to check:</label>
            <div class="position-relative">
                <input id="lookup" type="text" name="lookup" class="form-control"
                    value="<?php if ($this->vars->domain_name) echo $this->vars->domain_name ?>">
            </div>
        </div>
        <div class="col-auto align-self-end">
            <button id="sendButton" type="submit" class="btn btn-primary">
                <span id="loading-org">Check</span>
                <div id="loading" class="d-none">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span role="status">Loading...</span>
                </div>
            </button>
        </div>
    </div>
</form>
