<table class="table accordion">
    <thead>
        <tr>
            <th scope="col">FROM</th>
            <th scope="col">TO</th>
            <th scope="col">HTTPS</th>
            <th scope="col">SAME DOMAIN</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <?php 
        $redList = [$mRedirect, $sRedirect, $rRedirect];

        foreach ($redList as $redKey => $red) {
            if (count($red->getRedirects()) > 0) {
                if ($red->isAbroad())
                    echo '<tr class="bg-danger-subtle" data-bs-toggle="collapse" data-bs-target="#' . $redKey . '">';
                else {
                    echo '<tr data-bs-toggle="collapse" data-bs-target="#' . $redKey . '">';
                }
                echo '<th scope="row">'.$red->getRedirects()[0]->getFrom().'</th>';
                echo '<td>'.$red->getLastRedirect()->getRedirectedTo().'</td>';
                if ($red->hasHTTPS())
                    echo '<td><span class="badge bg-success">YES</span></td>';
                else
                    echo '<td><span class="badge bg-danger">NO</span></td>';
                if ($red->isAbroad())
                    echo '<td><span class="badge bg-danger">NO</span></td>';
                else
                    echo '<td><span class="badge bg-success">YES</span></td>';
                echo '<td><span class="bi bi-chevron-down"></span></td></tr>';
                foreach ($red->getRedirects() as $key => $value) {
                    echo '<tr class="collapse accordion-collapse bg-secondary" id="' . $redKey . '">';
                    echo '<th scope="row">'.$value->getFrom().'</th>';
                    echo '<td>'.$value->getRedirectedTo().'</td>';
                    if ($value->hasHTTPS())
                        echo '<td><span class="badge bg-success">YES</span></td>';
                    else
                        echo '<td><span class="badge bg-danger">NO</span></td>';
                    if ($value->isAbroad())
                        echo '<td><span class="badge bg-danger">NO</span></td>';
                    else
                        echo '<td colspan="2"><span class="badge bg-success">YES</span></td>';
                    echo "</tr>";
                }
            } else {
                echo '<tr class="bg-danger-subtle">
                <th scope="row">http://' . $red->getDomain()->getDomainName() . $red->getPath() . '</th>
                <td colspan="4">NOT FOUND</td>
                </tr>';
            }
        }
    ?>
    </tbody>
</table>