<div class="col-lg-6">
    <div class="card">
        <?php 
        if ($this->vars->ssl->issuedByLetsEncrypt()) {
            if ($this->vars->ssl->getDaysNumber() > SSL_WARNING_DAYS) {
                if ($this->vars->ssl->hasValidCN()) {
                    echo    '<div class="card-header bg-info-subtle bg-gradient"><b>SSL (Let\'s Encrypt)</b></div>';
                    echo    '<div class="card-body bg-success-subtle">';
                } else {
                    echo    '<div class="card-header bg-info-subtle bg-gradient"><b>SSL (Let\'s Encrypt) <span class="text-danger">!(INVALID CN)!</span></b></div>';
                    echo    '<div class="card-body bg-danger-subtle">';
                }
            } else if ($this->vars->ssl->getDaysNumber() > 0 && $this->vars->ssl->getDaysNumber() < SSL_WARNING_DAYS) {
                if ($this->vars->ssl->hasValidCN())
                    echo    '<div class="card-header bg-info-subtle bg-gradient"><b>SSL (Let\'s Encrypt) (EXPIRES SOON)</b></div>';
                else
                    echo    '<div class="card-header bg-info-subtle bg-gradient"><b>SSL (Let\'s Encrypt) (EXPIRES SOON) <span class="text-danger">!(INVALID CN)!</span></b></div>';
                echo    '<div class="card-body bg-warning-subtle">';
            } else if ($this->vars->ssl->getDaysNumber() <= 0) {
                if ($this->vars->ssl->hasValidCN())
                    echo    '<div class="card-header bg-info-subtle bg-gradient"><b>SSL (Let\'s Encrypt) (EXPIRED)</b></div>';
                else
                    echo    '<div class="card-header bg-info-subtle bg-gradient"><b>SSL (Let\'s Encrypt) (EXPIRED) <span class="text-danger">!(INVALID CN)!</span></b></div>';
                echo    '<div class="card-body bg-danger-subtle">';
            }
        } else {
            if ($this->vars->ssl->getDaysNumber() > SSL_WARNING_DAYS) {
                if ($this->vars->ssl->hasValidCN()) {
                    echo    '<div class="card-header bg-success-subtle bg-gradient"><b>SSL</b></div>';
                    echo    '<div class="card-body bg-success-subtle">';
                } else {
                    echo    '<div class="card-header bg-success-subtle bg-gradient"><b>SSL <span class="text-danger">!(INVALID CN)!</span></b></div>';
                    echo    '<div class="card-body bg-danger-subtle">';
                }
            } else if ($this->vars->ssl->getDaysNumber() > 0 && $this->vars->ssl->getDaysNumber() < SSL_WARNING_DAYS) {
                if ($this->vars->ssl->hasValidCN())
                    echo    '<div class="card-header bg-warning-subtle bg-gradient"><b>SSL (EXPIRES SOON)</b></div>';
                else
                    echo    '<div class="card-header bg-warning-subtle bg-gradient"><b>SSL (EXPIRES SOON) <span class="text-danger">!(INVALID CN)!</span></b></div>';
                echo    '<div class="card-body bg-warning-subtle">';
            } else if ($this->vars->ssl->getDaysNumber() <= 0) {
                if ($this->vars->ssl->hasValidCN())
                    echo    '<div class="card-header bg-danger-subtle bg-gradient"><b>SSL (EXPIRED)</b></div>';
                else
                    echo    '<div class="card-header bg-danger-subtle bg-gradient"><b>SSL (EXPIRED) <span class="text-danger">!(INVALID CN)!</span></b></div>';
                echo    '<div class="card-body bg-danger-subtle">';
            }
        }

        ?>
            <div class="d-flex flex-column gap-2 ">
                    <div class="row">
                        <div class="col">CN</div>
                        <div class="col"><?php  echo $this->vars->ssl->getCN() ?></div>
                    </div>
                    <div class="row">
                        <div class="col">ISSUER</div>
                        <div class="col"><?php  echo $this->vars->ssl->getIssuer() ?></div>
                    </div>
                    <div class="row">
                        <div class="col">VALID FROM</div>
                        <div class="col"><?php  echo $this->vars->ssl->getValidFrom() ?></div>
                    </div>
                    <div class="row">
                        <div class="col">VALID TO</div>
                        <div class="col"><?php  echo $this->vars->ssl->getValidTo() ?></div>
                    </div>
                    <div class="row">
                        <div class="col">DAYS</div>
                        <div class="col"><?php  echo $this->vars->ssl->getDays() ?></div>
                    </div>
            </div>
        </div>
    </div>
</div>
